/* Write your CSS code here */

.blog-item {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.title {
  color: #12022f;
}

.description {
  color: #9aa5b1;
}

.published-time {
  color: #9aa5b1;
}

.horizontal-line {
  color: #9aa5b1;
}
